h1 {
    color: blue;
}

h2 {
    text-align: center;
    font-style: normal;
}

h3 {
    text-align: center;
    font-style: normal;
}

p {
    font-family: serif;
}

ul {
    font-size: 20px;
    line-height: 30px;
}
